@import "tailwindcss";

@font-face {
    font-family: "gtsectral";
    src: url(/fonts/GTSectraDisplay-Bold.woff2);
}
 .gtsectral {
    font-family: "gtsectral";
    font-weight: 700;
 }

 @font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Thin.woff2);
 }

 .heebo {
    font-family: "heebo";
    font-weight: 500;
 }

 @font-face {
    font-family: "gilroy-bold";
    src: url(/fonts/Gilroy-Bold.woff2);
 }

 .gilroy-bold {
    font-family: "gilroy-bold";
    font-weight: 500;
 }
 #canvaselem{
   transition: all 4s ease-out;
   
   
 }
main:has(#sec2 .title:hover)  #canvaselem {
   background: none;
 }

main:has(#sec2 .title[imaget="tomorrowland"]:hover)  #tomorrowland {
   opacity: 100;
   background: #060e24;
 }

main:has(#sec2 .title[imaget="navy-pier"]:hover)  #navy-pier {
   opacity: 100;
   background: #080b27;
 }

main:has(#sec2 .title[imaget="msi-chicago"]:hover)  #msi-chicago {
   opacity: 100;
   background: #07102f;
 }
 
main:has(#sec2 .title[imaget="phone"]:hover)  #phone {
   opacity: 100;
   background: #0b1928;
 }

main:has(#sec2 .title[imaget="kikk"]:hover)  #kikk {
   opacity: 100;
   background: #141b76 ;
 }

main:has(#sec2 .title[imaget="kennedy"]:hover)  #kennedy {
   opacity: 100;
   background: #192935;
 }

main:has(#sec2 .title[imaget="opera"]:hover)  #opera {
   opacity: 100;
   background: #5B140A;
 }
